@(tasks: List[Task], taskForm: Form[Task])

@import helper._

@main("Todo list - lista de tarefas") {
    
    <h1>@tasks.size() tarefa(s)</h1>
    
    <ul>
        @for(task <- tasks) {
            <li>
                @task.getLabel()
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Deletar tarefa">
                }
            </li>
        }
    </ul>
    
    <h2>Adicionar uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        @inputText(taskForm("label")) 
        
        <input type="submit" value="Criar tarefa">
        
    }
    
}