@(tarefasFeitas: List[Task], tarefasNaoFeitas: List[Task], taskForm: Form[Task])

@import helper._

@main("Lista de Tarefas") {
    
    
    <h2>Adicionar uma nova tarefa</h2>
    
    @form(routes.Application.newTask()) {
        
        Projeto:   <input type="text" name="project" title="Escolha o nome do projeto"> <br>
        Descrição: <input type="text" name="description" title="Escolha a descrição da tarefa"> <br>
        Prioridade: <input type="number" name="priority" title="Escolha o valor da prioridade"> <br>
        Feito: <input type="checkbox" name="situation" title="Marque se a tarefa foi realizada."
        	   <input type="hidden" name="situation" value="Feito">
       		   <input type="submit" value="Criar tarefa">
    }
    
    
    <h1>@tarefasFeitas.size() tarefa(s) feita(s)</h1>
    
    <ul>
        @for(task <- tarefasFeitas) {
            <li>
                Projeto: @task.getProject() <br>
                Descrição: @task.getDescription() <br>
                Prioridade: @task.getPriority() <br>
                Situação: @task.getSituation() <br>
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Apagar tarefa">
                }
            </li>
        }
    </ul>
    
    
    
        <h1>@tarefasNaoFeitas.size() tarefa(s) não feita(s)</h1>
    
    <ul>
        @for(task <- tarefasNaoFeitas) {
            <li>
                Projeto: @task.getProject() <br>
                Descrição: @task.getDescription() <br>
                Prioridade: @task.getPriority() <br>
                Situação: @task.getSituation() <br>
                
                @form(routes.Application.deleteTask(task.getId())) {
                    <input type="submit" value="Apagar tarefa">
                }
            </li>
        }
    </ul>
    

}